.custom-dots {
  display: flex !important;
  justify-content: center;
}

.custom-dot {
  width: 20px;
  height: 6px;
  background: #a7a5ad;
  margin: 0 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.custom-dot .dot {
  width: 100%;
  height: 100%;
  background: #656077;
  border-radius: 3px;
}

.slick-active .custom-dot .dot {
  background: #555;
}
